<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>ServletHello2</servlet-name>
        <servlet-class>com.example.javaweb30jsp.ServletHello2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletHello2</servlet-name>
        <url-pattern>/hello-2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>com.example.javaweb30jsp.servlet.ServletLogin</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/do-login</url-pattern>
    </servlet-mapping>
</web-app>